target
.classpath
.project
.settings
bin

*.iml
.idea

build-info.properties

src/docs/asciidoc/changelog.adoc
src/docs/asciidoc/apidoc/generated-snippets
src/docs/asciidoc/apidoc/overview.adoc
src/docs/asciidoc/apidoc/paths.adoc
src/docs/asciidoc/apidoc/definitions.adoc